<div class="after-footer">

    <%- js('js/navbar.js') %>

    <%- js('js/littleCode.js') %>

    <script src="//cdn.jsdelivr.net/gh/CN-DXTZ/CN-DXTZ.github.io/js/third%20party/instantpage.min.js"type="module"></script>

    <script src="//cdn.jsdelivr.net/gh/CN-DXTZ/CN-DXTZ.github.io/js/third%20party/jquery.min.js"></script>

    <script src="//cdn.jsdelivr.net/gh/CN-DXTZ/CN-DXTZ.github.io/js/third%20party/vanilla-back-to-top.min.js"></script>
    <%- js('js/addBackToTop.js') %>

    <% if(is_post()){ %>
        <script src="//cdn.jsdelivr.net/gh/CN-DXTZ/CN-DXTZ.github.io/js/third%20party/jquery.fancybox.min.js"type="module"></script>
        <%- js('js/jquery.fancybox.image.js') %>

        <%- js('js/jquery.toc.js') %>
    <% } %>

    <script src="//cdn.jsdelivr.net/gh/CN-DXTZ/CN-DXTZ.github.io/js/third%20party/prism.min.js" type="module"></script>

</div>