<article class="post">
    <%- partial('_partial/article-header') %>

    <div class="post-content">
        <%- item.content %>
    </div>

    <div class="post-nav">
        <span class="post-nav-prev">
            <% if(item.prev){ %>
            <a href="<%= url_for(item.prev.path) %>" rel="prev" title="<%= item.prev.title %>">
                <i class="iconfont icon-houtui"></i><%= item.prev.title %>
            </a>
            <% } %>
        </span>
        <span class="post-nav-next">
            <% if(item.next){ %>
            <a href="<%= url_for(item.next.path) %>" rel="next" title="<%= item.next.title %>">
                <%= item.next.title %><i class="iconfont icon-qianjin"></i>
            </a>
            <% } %>
        </span>
    </div>
</article>